

.heading {
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .content {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

  .content2 {
    font-family: "Salsa", cursive;
    font-weight: 400;
    font-style: normal;
  }
  